aws_region   = "us-east-1"
project_name = "fundacao-aws"
environment  = "homologacao"
vpc_cidr     = "10.1.0.0/16"

availability_zones        = ["us-east-1a", "us-east-1b"]
public_subnets_cidrs      = ["10.1.1.0/24", "10.1.2.0/24"]
private_app_subnets_cidrs = ["10.1.10.0/24", "10.1.11.0/24"]
private_db_subnets_cidrs  = ["10.1.20.0/24"]
